.my-table{
    width: 100%;
    margin-top: 20px;
}

.mat-column-name{
    width: 38px;
    padding-right: 25px;
    text-align: center;
}

.mat-column-start, .mat-column-end, .mat-column-duration{
    padding: 25px;
    text-align: center;
}